# Canonical author identity for Dmitry Stepanov
Степанов Д.А. <237271972+dimitry8st-prog@users.noreply.github.com> <dimitry8st@gmail.com>
Степанов Д.А. <237271972+dimitry8st-prog@users.noreply.github.com> <dimitry.analytix@gmail.com>
